<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
 
  <servlet>
  	<servlet-name>Screenshot</servlet-name>
  	<display-name>Screenshot</display-name>
  	<description>api</description>
  	<servlet-class>JavaAPI.rest.Screenshot</servlet-class>
  </servlet>  
  

<servlet-mapping>
	<servlet-name>Screenshot</servlet-name>
	<url-pattern>/Screenshot</url-pattern>
</servlet-mapping>  
  
<welcome-file-list>  
    <welcome-file>index.html</welcome-file>  
</welcome-file-list>  
  
  
</web-app>
